<div id="recoedView" #recoedView>
  <p-button (click)="startVideo()" [disabled]="recordMode">Start video record</p-button>
  <p-button type="button" id="buttonStop" (click)="stopVideo()" [disabled]="!recordMode">Stop video recording</p-button>
  <video autoplay muted playsinline id="videoLive" #videoLive [style.display]="recordMode ? 'block' : 'none'"></video>
</div>
<div id="playbackView" #playbackView [style.display]="playbackViewDisplay">
  <video controls muted id="videoPlayback" #videoPlayback>
        Sajnos a böngészője nem támogatja a beágyazott videókat.
    </video>  
</div>
